<section class="customer-section">
  <div class="customer-section__container">
    <h1 class="customer-section__title">{{ 'customer.reset_password.title' | t }}</h1>

    {%- form 'reset_customer_password', class: 'customer-form' -%}
      {%- if form.errors -%}
        <div class="customer-form__errors">
          <ul>
            {%- for field in form.errors -%}
              <li>{{ form.errors.messages[field] }}</li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      <div class="customer-form__field">
        <label for="ResetPassword" class="customer-form__label">
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input
          type="password"
          id="ResetPassword"
          name="customer[password]"
          autocomplete="new-password"
          class="customer-form__input"
          required
        >
      </div>

      <div class="customer-form__field">
        <label for="ResetPasswordConfirm" class="customer-form__label">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input
          type="password"
          id="ResetPasswordConfirm"
          name="customer[password_confirmation]"
          autocomplete="new-password"
          class="customer-form__input"
          required
        >
      </div>

      <button type="submit" class="btn btn--primary btn--full customer-form__submit">
        {{ 'customer.reset_password.submit' | t }}
      </button>
    {%- endform -%}
  </div>
</section>

{% schema %}
{
  "name": "Reset Password",
  "tag": "section",
  "class": "section-main-reset-password"
}
{% endschema %}
