<section class="customer-section">
  <div class="customer-section__container">
    <h1 class="customer-section__title">{{ 'customer.register.title' | t }}</h1>

    {%- form 'create_customer', class: 'customer-form' -%}
      {%- if form.errors -%}
        <div class="customer-form__errors">
          <ul>
            {%- for field in form.errors -%}
              <li>{{ form.errors.messages[field] }}</li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      <div class="customer-form__field">
        <label for="RegisterFirstName" class="customer-form__label">
          {{ 'customer.register.first_name' | t }}
        </label>
        <input
          type="text"
          id="RegisterFirstName"
          name="customer[first_name]"
          autocomplete="given-name"
          class="customer-form__input"
        >
      </div>

      <div class="customer-form__field">
        <label for="RegisterLastName" class="customer-form__label">
          {{ 'customer.register.last_name' | t }}
        </label>
        <input
          type="text"
          id="RegisterLastName"
          name="customer[last_name]"
          autocomplete="family-name"
          class="customer-form__input"
        >
      </div>

      <div class="customer-form__field">
        <label for="RegisterEmail" class="customer-form__label">
          {{ 'customer.register.email' | t }}
        </label>
        <input
          type="email"
          id="RegisterEmail"
          name="customer[email]"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          class="customer-form__input"
          required
        >
      </div>

      <div class="customer-form__field">
        <label for="RegisterPassword" class="customer-form__label">
          {{ 'customer.register.password' | t }}
        </label>
        <input
          type="password"
          id="RegisterPassword"
          name="customer[password]"
          autocomplete="new-password"
          class="customer-form__input"
          required
        >
      </div>

      <button type="submit" class="btn btn--primary btn--full customer-form__submit">
        {{ 'customer.register.submit' | t }}
      </button>

      <div class="customer-form__footer">
        <a href="{{ routes.account_login_url }}" class="customer-form__link">
          {{ 'customer.register.have_account' | t }}
        </a>
      </div>
    {%- endform -%}
  </div>
</section>

{% schema %}
{
  "name": "Register",
  "tag": "section",
  "class": "section-main-register"
}
{% endschema %}
